* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #AFB7D1;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  color: #27296d;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form,
footer {
  min-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: white;
}
form button {
  color: #a393eb;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #a393eb;
  color: white;
}
footer {
  margin-top: 20%;
  font-size: 0.8rem;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: #a393eb;
  width: 7rem;
  cursor: pointer;
  padding: 1rem;
}
.todo-list-cotainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  list-style: none;
  min-width: 30%;
}
.task {
  background: white;
  margin: 0.5rem;
  color: #27296d;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.task li {
  flex: 1;
}
.mark-btn,
.trash-btn {
  border: none;
  background: #7dace4;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.mark-btn {
  background: #95e8d7;
}
.task-item {
  padding: 0rem 0.5rem;
}
.fa-trash, .fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  color: white;
  background: #a393eb;
  top: 0;
  right: 0;
  padding: 0.7rem;
  pointer-events: none;
  transition: all 0.5s ease;
}
.select:hover::after {
  background: white;
  color: #a393eb;
}
